"*":
  "atom-beautify":
    general:
      _analyticsUserId: "3a2845f5-5ea0-4685-9e27-05da04be111e"
      analytics: false
      beautifyEntireFileOnSave: false
    js:
      brace_style: "none"
  "atom-clock":
    dateFormat: "H:mm:ss"
    refreshInterval: 1
    showClockIcon: true
  "atom-ctags": {}
  "atom-pronama-chan":
    imageOpacity: 0.1
    images: {}
    startVoice: {}
  "atom-terminal-panel": {}
  "atom-twitter-reader":
    access_token_key: "2758473847-Q3JQzApPnQrpUcfj8MyLp0NJgFb3E0gLgA15IBr"
    access_token_secret: "2gABTIWZwkNrOEJ9aixF80uzEnC58g83Osp7FDwV3dhi5"
    consumer_key: "pHnz9I17bGXzB8EflWQMp1jlP"
    consumer_secret: "zULncwRHBujwQJMZvQVMO7K4dgsb69JXfkjMWNY4fC6skP6VTY"
  "atom-typescript": {}
  "atom-typescript-tools":
    compiler: {}
    format: {}
  "autoclose-html": {}
  "autocomplete-clang":
    ignoreClangErrors: false
    includeDocumentation: false
  "autocomplete-plus":
    enableExtendedUnicodeSupport: true
  "coffee-paste":
    nodePath: "node"
  "coffee-refactor": {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "atom-ternjs"
      "atom-cli-diff"
      "slash-closer"
      "atom-ctags"
      "vim-mode"
      "atom-twitter"
      "atom-twitter"
      "atom-twitter"
      "atom-twitter"
      "atom-twitter"
      "atom-twitter"
      "atom-twitter"
      "autocomplete-php"
      "nuclide-debugger-atom"
      "nuclide-type-hint"
      "clang-format"
      "jshint"
      "atom-autocomplete-php"
      "nuclide"
      "Atom-Hack"
      "autocomplete-hack"
      "coffee-paste"
      "gfm-pdf"
      "language-cpp14"
      "wrap-guide"
      "atom-pronama-chan"
      "Tern"
      "language-javascript-jsx"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "monokai-light"
    ]
    useCustomTitleBar: true
  editor:
    autoIndentOnPaste: false
    fontFamily: "SourceCodePro-Medium"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    undoGroupingInterval: 100
    useShadowDOM: true
  "editor-background":
    box3d: {}
    image:
      customOverlayColor: true
      opacity: 40
      overlayColor:
        alpha: 1
        blue: 255
        green: 255
        red: 255
      url: "/Users/me/Documents/マジック\\ ブリーフケース/Image/wallpaper/illust/0dbe7f28.jpg"
    other: {}
    text:
      blur: 50
    video: {}
  emmet: {}
  "exception-reporting":
    userId: "711d10eb-b595-252c-7c4d-7e8a5af2b6fa"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "gfm-pdf": {}
  "highlight-line":
    enableBackgroundColor: false
  "ide-flow":
    flowPath: "/Users/ragg/.nvm/versions/node/v6.8.1/bin/flow"
  "javascript-refactor":
    cpus: 4
  jshint:
    onlyConfig: true
  "language-babel":
    babelMapsAddUrl: false
    suppressTranspileOnSaveMessages: false
  linter:
    errorPanelHeight: 24
  "linter-clang": {}
  "linter-php": {}
  localization:
    CurrentLanguage: "Default"
  "markdown-pdf": {}
  "markdown-preview": {}
  minimap:
    absoluteMode: true
    charHeight: 10
    charWidth: 4
  motepair:
    serverAddress: "localhost"
    serverPort: 3210
  nuclide:
    "nuclide-arcanist": {}
    "nuclide-buck-files": {}
    "nuclide-clang":
      defaultDiagnostics: true
    "nuclide-debugger-hhvm": {}
    "nuclide-diagnostics-store":
      consumeLegacyLinters: false
      legacyLintOnTheFly: false
    "nuclide-file-tree":
      hideIgnoredNames: false
    "nuclide-flow":
      diagnosticsOnFly: true
      enableStructuredTypeHints: true
      excludeOtherAutocomplete: true
    "nuclide-format-js": {}
    "nuclide-hack":
      hhClientPath: "hh_client"
    "nuclide-health": {}
    "nuclide-home":
      showHome: false
    "nuclide-ocaml": {}
    "nuclide-output": {}
    "nuclide-remote-atom":
      shouldNotifyWhenCommandLineIsWaitingOnFile: false
    "nuclide-remote-projects":
      confirmServerActionOnLastProject: false
    use:
      "nuclide-adb-logcat": false
      "nuclide-arcanist": false
      "nuclide-blame": false
      "nuclide-blame-provider-hg": false
      "nuclide-blame-ui": false
      "nuclide-bookshelf": false
      "nuclide-buck": false
      "nuclide-buck-files": false
      "nuclide-buck-toolbar": false
      "nuclide-code-format": false
      "nuclide-context-view": false
      "nuclide-diagnostics-ui": false
      "nuclide-distraction-free-mode": false
      "nuclide-file-tree": false
      "nuclide-home": false
      "nuclide-http-request-sender": false
      "nuclide-ios-simulator-logs": false
      "nuclide-move-item-to-available-pane": false
      "nuclide-objc": false
      "nuclide-ocaml": false
      "nuclide-python": false
      "nuclide-react-native": false
      "nuclide-react-native-inspector": false
      "nuclide-recent-files-provider": false
      "nuclide-recent-files-service": false
      "nuclide-remote-atom": false
      "nuclide-remote-ctags": false
      "nuclide-remote-projects": false
      "nuclide-side-bar": false
      "nuclide-source-control-side-bar": false
      "nuclide-swift": false
      "nuclide-task-runner": false
      "nuclide-test-runner": false
      "nuclide-type-coverage": false
      "nuclide-vcs-log": false
      "nuclide-workspace-view-locations": false
  "one-light-ui":
    layoutMode: "Spacious"
  "pair-programming":
    handle: "vegeta-4009"
  refactor: {}
  "save-session":
    dataSaveFolder: "/Users/me/.atom/packages/save-session/projects"
    project: "/Users/me/Documents/workspace/halcinema-admin"
    windowHeight: 1173
    windowWidth: 1342
    windowX: 575
    windowY: 28
  "terminal-panel": {}
  test: "test"
  "travis-ci-status":
    personalAccessToken: "WsniKPsHDPfgp4QfzxQS"
  "tree-view": {}
  "tree-view-background":
    opacity: 0
  "twitter-reader": {}
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    tabLength: 4
".hack.html.text":
  editor:
    tabLength: 4
".hackfragment.source":
  editor:
    scrollPastEnd: true
    tabLength: 4
".hg-commit.text":
  editor:
    autoIndent: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
".js.jsx.react.source":
  editor:
    autoIndent: false
".source.ts":
  editor:
    autoIndent: false
